<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}css/style.css" media="screen" />
</head>

<body>

    <div id="wrap">

    <div id="top"></div>

    <div id="content">

    <div class="header">
        <h1>
            <a href="#">VERMONT TRANSPARENCY &amp; ACCOUNTABILITY</a>
        </h1>
        <h2>{{ site.name }}</h2>
    </div>

    <div class="breadcrumbs">
        <h2>{{ page.title }}</h2>
    </div>


    <div class="left">
		
        <h2>Navigation</h2>
        <ul>
            <li>
                <a href="{{ site.url }}index.html">Home</a>
            </li>
            <li>
                <a href="{{ site.url }}news.html">News</a>
            </li>
            <li>
                <a href="{{ site.url }}finances.html">Finances</a>
            </li>
            <li>
               <a href="{{ site.url }}submission-guidelines.html">Submission Guidelines</a>
            </li>
            <li>
               <a href="{{ site.url }}howto.html">How to submit materials</a>
            </li>
            <li>
               <a href="{{ site.url }}submit.html">Submit</a>
            </li>
            <li>
                <a href="{{ site.url }}bylaws.html">Organization Bylaws</a>
            </li>
            <li>
                <a href="{{ site.url }}website.html">Website Development</a>
            </li>
            <li>
        <iframe src="//crypto.stanford.edu/flashproxy/embed.html?cookierequired" width="80" height="15" frameborder="0" scrolling="no"></iframe>
            </li>
        </ul>
		
    </div>


    <div class="middle">
			
        <p>&nbsp;</p>
        <p>&nbsp;</p>

	{{ content }}		
        <br /><br />
    </div>
		
    <div id="clear"></div>

    </div>

    <div id="bottom"></div>

    </div>

    <div id="footer">
        Design by <a href="http://www.minimalistic-design.net">
        Minimalistic Design</a>
    </div>

</body>
</html>
